{%- spaceless -%}

	{%- set quotas = getAttachmentQuotas(app.user) -%}

	{%- if quotas is defined -%}
		<li class="divider"></li>
		<li>
			<span class="label">
				{{- quotas['totalKiBUsed'] -}}KiB
				&nbsp;&#47;&nbsp;
				{{- quotas['totalKiBQuota'] -}}KiB
			</span>&nbsp;

			<span class="label">
				{{- quotas['fileQuantityUsed'] -}}
				&nbsp;&#47;&nbsp;
				{{- quotas['fileQuantityQuota'] -}}&nbsp;{{- 'ccdn_component_attachment.quota.files' | trans({}, 'CCDNComponentAttachmentBundle') -}}
			</span>
			
			<hr>
			
			<span class="pull-left"><i class="icon-hdd"></i>&nbsp;{{- quotas['totalKiBUsedPercent'] -}}&#37;&nbsp;</span>
			<div class="progress progress-danger">
				<div class="bar" style="width:{{- quotas['totalKiBUsedPercent'] -}}%;"></div>
			</div>
		</li>
	{%- endif -%}

{%- endspaceless -%}