{% extends param('ccdn_component_attachment.attachment.layout_templates.list') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery.checkboxes.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.attachment.index' |trans({}, 'CCDNComponentAttachmentBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.attachment' | trans({}, 'CCDNComponentAttachmentBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_attachment_upload') }}">{{ 'link.upload' | trans({}, 'CCDNComponentAttachmentBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ 'title.attachment.index' |trans({}, 'CCDNComponentAttachmentBundle') }}</h2>
	</div>
</div>

<div class="section_wrap_standalone">
	<form method="POST" action="{{ path('cc_attachment_action_bulk') }}">
		<div class="section_tool_strip">
			<input type="submit" class="button_red" value="{{ 'link.delete' |trans({}, 'CCDNComponentAttachmentBundle') }}" name="submit_delete">
		</div>
		{% if pager.haveToPaginate %}
		<div class="pagerfanta">
			{% if path(app.request.attributes.get('_route')) == 'cc_attachment_for_user' or path(app.request.attributes.get('_route')) == 'cc_attachment_for_user_paginated' %}
			    {{ pagerfanta(pager, 'default', {'routeName': path(app.request.attributes.get('_route')), 'routeParams':{'user_id':user.getId}} ) }}
			{% else %}
				{{ pagerfanta(pager, 'default', {'routeName': path(app.request.attributes.get('_route')), 'routeParams':{}} ) }}
		    {% endif %}
		</div>
		{% endif %}
		<div class="section_table_panel">
				<table class="common_list">
					<thead>
						<th class="icon" style="width: 18px;"><input type="checkbox" id="check_all" name="check_all"></th>
						<th class="icon"></th>
						<th class="left"><span class="table_header">{{ 'attachment.table.head.file' | trans({}, 'CCDNComponentAttachmentBundle') }}</span></th>
						<th class="center"><span class="table_header">{{ 'attachment.table.head.uploaded' | trans({}, 'CCDNComponentAttachmentBundle') }}</span></th>
						<th class="center"><span class="table_header">{{ 'attachment.table.head.file_size' | trans({}, 'CCDNComponentAttachmentBundle') }}</span></th>
					</thead>
					<tbody>
					{% for row, attachment in attachments %}
						<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
							<td class="icon16">
								<input type="checkbox" id="multiselect_{{ attachment.id }}" name="check_multiselect_{{ attachment.id }}">
							</td>
							<td class="center" style="width:70px;">
								<span class="table_data"><a href="{{ path('cc_attachment_download', {'attachment_id': attachment.getId }) }}"><img src="{{ path('cc_attachment_thumbnail', {'attachment_id': attachment.getId }) }}" alt="{{ attachment.getAttachmentOriginal }}"></a></span>
							</td>						
							<td class="left">
								<span class="table_data">
									<a href="{{ path('cc_attachment_download', {'attachment_id': attachment.getId }) }}">{{ attachment.getAttachmentOriginal }}</a>
									<br>{{ attachment.getDescription }}
								</span>
							</td>
							<td class="center" style="width: 200px;"><span class="table_data">{{ attachment.getCreatedDate|date("d/m/Y - H:i:s") }}</span></td>
							<td class="center" style="width: 80px;"><span class="table_data">{{ attachment.getFileSize }}</span></td>
						</tr>
					{% else %}
						<tr>
							<td class="center" colspan="5">
								<span class="table_empty">{{ 'attachment.table.empty' | trans({}, 'CCDNComponentAttachmentBundle') }}</span>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
		</div>
		{% if pager.haveToPaginate %}
		<div class="pagerfanta">
			{% if path(app.request.attributes.get('_route')) == 'cc_attachment_for_user' or path(app.request.attributes.get('_route')) == 'cc_attachment_for_user_paginated' %}
			    {{ pagerfanta(pager, 'default', {'routeName': path(app.request.attributes.get('_route')), 'routeParams':{'user_id':user.getId}} ) }}
			{% else %}
				{{ pagerfanta(pager, 'default', {'routeName': path(app.request.attributes.get('_route')), 'routeParams':{}} ) }}
		    {% endif %}
		</div>
		{% endif %}
	</form>
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}