{% extends 'CCDNComponentAttachmentBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_component_attachment.manage.list.layout_template %}

{% block title %}{{- truncDot('ccdn_component_attachment.title.index' |trans({}, 'CCDNComponentAttachmentBundle'), ccdn_component_attachment.seo.title_length) -}}{% endblock %}

{% block sidebar_extra_bottom %}
	{{ parent() }}

	{%- include 'CCDNComponentAttachmentBundle:Sidebar:quotas.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<header>
		<h3>{{- 'ccdn_component_attachment.title.index' |trans({}, 'CCDNComponentAttachmentBundle') -}}</h3>
	</header>

	<section>
		<form method="POST" action="{{- path('ccdn_component_attachment_bulk_action') -}}">
	
			<div class="btn-toolbar">
				<div class="span6">
					<input type="submit" class="btn btn-danger disabled" value="{{- 'ccdn_component_attachment.link.delete' |trans({}, 'CCDNComponentAttachmentBundle') -}}" name="submit_delete" disabled data-responds-disabled="attachments">
				</div>
				{%- if pager.haveToPaginate -%}
					<nav class="span6 btn-right paginate">
				    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_component_attachment_index_paginated'}) -}}
					</nav>
				{%- endif -%}
			</div>

			<table class="table table-striped table-bordered table-no-vertical-borders">
				<thead>
					<th class="center" style="width: 18px;"><input type="checkbox" id="check_all" name="check_all" class="hidden" data-compat='interactive-js-compat' data-action-toggle="attachments" data-identifier="attachments" data-qualifier="all"></th>
					<th class="center"></th>
					<th class="left">{{- 'ccdn_component_attachment.manage.table.head.file' | trans({}, 'CCDNComponentAttachmentBundle') -}}</th>
					<th class="center">{{- 'ccdn_component_attachment.manage.table.head.uploaded_datetime' | trans({}, 'CCDNComponentAttachmentBundle') -}}</th>
					<th class="center">{{- 'ccdn_component_attachment.manage.table.head.file_size' | trans({}, 'CCDNComponentAttachmentBundle') -}}</th>
				</thead>
				<tbody>
					{%- for row, attachment in attachments -%}
						<tr class="marked_read">
							<td class="center">
								<input type="checkbox" id="check_multiselect_{{- attachment.id -}}" name="check_multiselect_{{- attachment.id -}}" data-check-all-responds="true" data-identifier="attachments">
							</td>
							<td class="center" style="width:70px;">
								<a rel="nofollow" href="{{- path('ccdn_component_attachment_download', {'attachmentId': attachment.getId }) -}}"><img src="{{- path('ccdn_component_attachment_thumbnail', {'attachmentId': attachment.getId }) -}}" alt="{{- attachment.getFileNameOriginal -}}"></a>
							</td>
							<td class="left">
								<a rel="nofollow" href="{{- path('ccdn_component_attachment_download', {'attachmentId': attachment.getId }) -}}">{{- attachment.getFileNameOriginal -}}</a>
								<br>{{- attachment.getDescription -}}
							</td>
							<td class="center" style="width: 200px;">{{- attachment.getCreatedDate |date(ccdn_component_attachment.manage.list.attachment_uploaded_datetime_format) -}}</td>
							<td class="center" style="width: 80px;">{{- attachment.getFileSize -}}</td>
						</tr>
					{%- else -%}
						<tr>
							<td class="center" colspan="5">{{- 'ccdn_component_attachment.manage.table.empty' | trans({}, 'CCDNComponentAttachmentBundle') -}}</td>
						</tr>
					{%- endfor -%}
				</tbody>
			</table>


			{%- if pager.haveToPaginate -%}
				<div class="btn-toolbar">
					<nav class="span12 btn-right paginate">
				    	{{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_component_attachment_index_paginated'}) -}}
					</nav>
				</div>
			{%- endif -%}
		</form>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
