{% extends param('ccdn_component_attachment.manage.upload.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- truncDot('ccdn_component_attachment.title.upload' | trans({}, 'CCDNComponentAttachmentBundle'), param('ccdn_component_attachment.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{%- include 'CCDNComponentAttachmentBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}

{% block sidebar_status %}
	{{ parent() }}

	{%- include 'CCDNComponentAttachmentBundle:Sidebar:quotas.html.twig' -%}

{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'ccdn_component_attachment.title.upload' | trans({}, 'CCDNComponentAttachmentBundle') -}}</h2>

	{%- form_theme form param('ccdn_component_attachment.manage.upload.form_theme') -%}
	<form action="{{- path('ccdn_component_attachment_upload') -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>

			{{- form_errors(form) -}}

			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>

			<div class="control-group{{- (form.attachment.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.attachment, null, { 'label': 'ccdn_component_attachment.form.label.attachment.upload.file'| trans({}, 'CCDNComponentAttachmentBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.attachment) -}}
					{{- form_widget(form.attachment) -}}
				</div>
			</div>

			<div class="control-group{{- (form.description.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.description, null, { 'label': 'ccdn_component_attachment.form.label.attachment.upload.description'| trans({}, 'CCDNComponentAttachmentBundle')}) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.description) -}}
					{{- form_widget(form.description) -}}
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{{- 'ccdn_component_attachment.form.button.attachment.upload' | trans({}, 'CCDNComponentAttachmentBundle') -}}">
			</div>

		</fieldset>
	</form>

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}
