{% extends 'CCDNComponentAttachmentBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_component_attachment.manage.upload.layout_template %}

{% block title %}{{- truncDot('ccdn_component_attachment.title.upload' | trans({}, 'CCDNComponentAttachmentBundle'), ccdn_component_attachment.seo.title_length) -}}{% endblock %}

{% block sidebar_extra_bottom %}
	{{ parent() }}

	{%- include 'CCDNComponentAttachmentBundle:Sidebar:quotas.html.twig' -%}

{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_component_attachment.manage.upload.form_theme -%}
		<form action="{{- path('ccdn_component_attachment_upload') -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>

				<div class="control-group form-title">
					<div class="controls">
						<h3>{{- 'ccdn_component_attachment.title.upload' | trans({}, 'CCDNComponentAttachmentBundle') -}}</h3>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_widget(form) -}}

				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="{{- 'ccdn_component_attachment.form.button.attachment.upload' | trans({}, 'CCDNComponentAttachmentBundle') -}}">
					<a class="btn" href="{{- path('ccdn_component_attachment_index') -}}">{{- 'ccdn_component_attachment.form.button.cancel' | trans({}, 'CCDNComponentAttachmentBundle') -}}</a>
				</div>

			</fieldset>
		</form>
	</section>

	{%- endspaceless -%}

{% endblock body_content %}
