{% extends param('ccdn_component_attachment.manage.upload.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.attachment.upload' | trans({}, 'CCDNComponentAttachmentBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{% include 'CCDNComponentAttachmentBundle:Sidebar:sidebar.html.twig' %}	
	
{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	<h2>{{ 'title.attachment.upload' | trans({}, 'CCDNComponentAttachmentBundle') }}</h2>

	{% spaceless %}
	<div class="well">
		{% form_theme form param('ccdn_component_attachment.manage.upload.form_theme') %}
		
		<form action="{{ path('cc_attachment_upload') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>
			
				<div class="control-group"><div class="controls row-fluid">{{ form_row(form._token) }}</div></div>
				
				<div class="control-group">
					{{ form_label(form.attachment, null, { 'label': 'form.label.attachment.upload.file'| trans({}, 'CCDNComponentAttachmentBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.attachment) }}
						{{ form_widget(form.attachment) }}
					</div>
				</div>
				
				<div class="control-group">
					{{ form_label(form.description, null, { 'label': 'form.label.attachment.upload.description'| trans({}, 'CCDNComponentAttachmentBundle')}) }}
					<div class="controls row-fluid">
						{{ form_errors(form.description) }}
						{{ form_widget(form.description) }}
					</div>
				</div>
				
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="{{ 'form.button.attachment.upload' | trans({}, 'CCDNComponentAttachmentBundle') }}">
				</div>
				
			</fieldset>
		</form>
	</div>
	{% endspaceless %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}